#:schema node_modules/wrangler/config-schema.json
name = "akademo"
main = ".open-next/worker.js"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat"]

# Assets configuration
[assets]
directory = ".open-next/assets"

# D1 Database
[[d1_databases]]
binding = "DB"
database_name = "akademo-db"
database_id = "65c2951c-acf6-4c1d-8810-4c3d6be18767"

# R2 Storage for videos and documents
[[r2_buckets]]
binding = "STORAGE"
bucket_name = "akademo-storage"

[vars]
STORAGE_TYPE = "r2"
